<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
	<div id="fullscreen_bg" class="fullscreen_bg">

		<div class="container">

			<form class="form-signin" (submit)="login()" ngNativeValidate>
				<img class="img-responsive" src="/assets/images/logobelcorp.png" alt="" srcset="">
				<h1 class="form-signin-heading text-muted">Soporte Belcorp</h1>
				<input type="text" class="form-control" placeholder="Usuario" autofocus=""
					[(ngModel)]="usuario" name="usuario"  required="">
				<input type="password" class="form-control" placeholder="Clave" required="" [(ngModel)]="clave"
					name="clave">
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					Sign In
				</button>
				<p *ngIf="userError" style="color:white;font-weight: 600">
				Usuario o Clave Incorrectos
				</p>
			</form>
			<app-loader [active]="loaderActive"></app-loader>
			

		</div>
	</div>
</body>