/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-balham.css';
html{
    height: 100%;
}
.shadow{
    -webkit-box-shadow: 13px 6px 22px -5px rgba(145,145,145,1);
-moz-box-shadow: 13px 6px 22px -5px rgba(145,145,145,1);
box-shadow: 13px 6px 22px -5px rgba(145,145,145,1);
}
